.Outer {
    display: flex;
    flex-direction: column;
    min-height:100vp;
    justify-content: space-between;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:0 100px;
    height: 933px;
}

.HeaderTitle {
    display: flex;
    flex-direction: row;
    margin-top: 118px;
    font-size: 32pt;
    font-weight: 600;
}

.HeaderTitle img {
    margin-right: 25px;
}

.HeaderSubtitle {
    margin-top: 400px;
    font-size: 60pt;
}

.HeaderSubtitle img {
    display: inline;
}

.GrantSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 180px 100px 50px 100px; 
}

.GrantSearchInner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 1000px;
    min-width: 800px;
    width: 75%;
}

.GrantSearchInner h1 {
    font-size: 40pt;
    margin-bottom:30px;
    text-align: center;
}

.GrantSearchForm {
    padding:40px;
    border: 1px solid #8B8B8B;
    font-size: 16pt;
}

.SearchButton {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #2855CA;
    color: white;
    padding: 5px;
    margin-left: 10px;
    width: 35px;
    height: 35plx;
}

.SearchButton:hover {
    background-color: #3661cc;
}

.QueryInput {
    background-color:#121212;
    border: 1px solid #8B8B8B;
}

.GrantSearchFormRow .FormLabel {
    font-weight: 600;
    margin-right: 30px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #2A55C3;
}

.GrantSearchFormRow .CheckboxOption {
    margin-left: 0px;
    margin-right: 30px;
}
.GrantSearchFormRow .CheckboxInput {
    width:22pt;
    height:22pt;
    accent-color: #121212;
    border: 1px solid #8B8B8B;
}

.GrantSearchFormRow {
    display: flex;
    flex-direction: row;
}

.GrantSearchResult {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:30px;
    padding:40px;
    border: 1px solid #8B8B8B;
    font-size: 16pt;
}

.Footer {
    position:relative;
    margin: 100px 100px 0 100px;
    border-top: 1px solid #8B8B8B;
    padding: 50px;
    text-align:center;
}

.FooterImage {
    position:absolute;
    bottom: 0;
    right: 0;
    width:100px;
    height:100px;
    background-color:blue;
}