.Outer {
    display: flex;
    flex-direction: column;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:0 100px;
    height: 933px;
}

.HeaderTitle {
    display: flex;
    flex-direction: row;
    margin-top: 118px;
    font-size: 44pt;
    font-weight: 600;
}

.HeaderTitle img {
    margin-right: 25px;
}

.HeaderSubtitle {
    margin-top: 400px;
    font-size: 60pt;
}

.HeaderSubtitle img {
    display: inline;
}

.Footer {
    height: 250px;
}

.GrantSearch {
    padding-top: 50px;    
}

.GrantSearchForm {
    padding:10px;
    border: 1px solid grey;
}

.GrantSearchFormRow {
    display: flex;
    flex-direction: row;
    margin-bottom:10px;
}